.navbar {
    background: rgba(136, 4, 4, 0.322);
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
    backface-visibility: hidden;
}

.logo {
    height: 40px;
    width: auto;
}

.textEvent {
    padding-top: 12px;
    height: 60px;
    font-size: 45px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-image: url('movecb.png');
}